<h2>New Project</h2>

<%= render 'shared/error_messages', errors: errors %>

<%= form_with model: project, scope: :project do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit 'Create Project', class: 'btn btn-primary' %>
<% end %>
